nav{
    background-color: #bd6f16;
}
nav a{
    font-size: 18px;
    color: #fff !important;
}
nav a:hover{
    color:bisque;
}
.baner{
    background-image: url("./img/baner.jpg");
    min-height: 550px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.vest{
    position: relative;
    margin-bottom: 40px;
}
.vesti-slika{
    max-height: 400px;
}
.vest-naslov{
    position: absolute;
    bottom: 5px;
    left: 15px;
    font-size: 32px;
    color: #fff;
}
.covid, .saznaj{
    width: 100%;
    text-align: center;
    height: 200px;
    padding: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
    font-size: 200%;
    padding-top: 80px;
}
.covid{
    background-image: url("./img/mapa.jpg");
}
.saznaj{
    background-image: url("./img/slika.jpg");
    
}
.nav-logo{
    height: 50px;
}
.kontakt-telefon, .kontakt-email{
    width: 100%;
}
.kontakt-email{
    text-align: right;
}
footer{
    background-color:#bd6f16;
    width: 100%;
}
.btn{
    background-color: #bd6f16 !important;
    color: #fff;
    border: #bd6f16 !important;
}
footer p{
    padding: 15px 0 ;
    margin:0;
    color: #fff;
}
.copyright{
    background-color: #7e4a10;
    color: #fff;
    text-align: center;
}
.kontakt-slika{
    width: 100%;   
}
.kontakt-tekst{
    text-align: justify;
}
.onama-slika{
    width: 100%;
    height: 100%;
}
.onama-tekst{
    width: 100%;
    text-align: justify;
}
@media only screen and (max-width: 1200px) {
    .baner{
        background-size: cover;
    }
  }
  @media only screen and (max-width: 768px) {
    .kontakt-telefon, .kontakt-email{
        text-align: center;
    }
    .kontakt-slika{
        height: 350px;   
    }
  }
